<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A fun endless runner for WebVR">
    <meta name="author" content="Xtraverse Labs">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/xtraverse-flight-icon-logo.png') }}" />

    <title>Xtraverse Flight</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles -->
    <style>
    	body {    	
  			background: rgba(0,204,255,1);
  			background: -moz-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(102,255,204,1) 100%);
  			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,204,255,1)), color-stop(100%, rgba(102,255,204,1)));
  			background: -webkit-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(102,255,204,1) 100%);
  			background: -o-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(102,255,204,1) 100%);
  			background: -ms-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(102,255,204,1) 100%);
  			background: linear-gradient(to right, rgba(0,204,255,1) 0%, rgba(102,255,204,1) 100%);
  			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#66ffcc', GradientType=1 );
    	}
    	.body-logo {
        background: url('{{ url_for('static', filename='img/xtraverse-flight-logo.png') }}') no-repeat;
    		background-position: center center;
    		background-size: contain;
    		width: auto;
    		height: 10rem;
    		margin: 8rem auto 3rem auto;
    	}
    	.shooter-logo {
    		background: url('{{ url_for('static', filename='img/xtraverse-shooter-logo.png') }}') no-repeat;
    		background-position: center center;
    		background-size: contain;
    		width: auto;
    		height: 10rem;
    		margin: 6rem auto 3rem auto;
    	}

      #xplore-scene {
        background: url('{{ url_for('static', filename='img/xplore-scene.png') }}') no-repeat;
        background-position: center center;
        background-size: contain;
        width: auto;
        height: 20rem;
        margin: 2rem auto 3rem auto;
      }
    	#shooter-section {
  			background: rgb(255, 255, 255);
  			border-radius: 1% 1% 0% 0%;
    	}
      button {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('flight') }}"><img src="{{ url_for('static', filename='img/xtraverse-flight-menu-logo.png') }}" width='40' height='40'></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('flight') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id='tutorial-link'>Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('xplore') }}" id='menuXplore'>Xplore</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#" id='menuScore'>High score: 0</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container-fluid text-center">
      <div id='tutorial-modal' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Tutorial</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>About</h3>
              <hr>
              <p>Xtraverse Flight is a little game that was created to showcase modern graphics technology for the Web, such as WebVR (A-frame) and WebGL. </p>
              <p>While it runs on mobile and VR, the game is more suitable for PC browsers, due to PC performance and organic keyboard support.</p>
              <h3>Gameplay</h3>
              <hr>
              <h4>Objective</h4>
              <p>All you have to do is dodge the obstacles that approach you. You can direct the vehicle up, down, left and right, using your keyboard or a gamepad.</p>
              <h4>Game controllers</h4>
              <p>You can attach a PC game controller to move the vehicle (with the direction buttons) and pause/play the game. Make sure it is connected before launching the game. </p>
              <h4>Keyboards</h4>
              <p>For keyboards, you can use <code>WASD</code> keys or the arrows to move the vehicle. Use the <code>spacebar</code> to pause the game, and the <code>f</code> button to enter VR mode.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

  		<section>
  	    <div class="body-logo"></div>
  			<h1 class='display-3'>Highest score</h1>
  			<h2 class='display-1 text-white' id='bodyScore'>0</h2>
                       
  			<a href="{{ url_for('xflight') }}" class='btn btn-outline-dark btn-lg d-block py-3 col-9 col-md-6 mx-auto my-5'>Play</a>
  		</section>

  		<section id='shooter-section' class='py-4'>
  			<div class="shooter-logo"></div>
        <div id="xplore-scene"></div>
            <button type="button" class='btn btn-outline-warning btn-lg d-block py-3 col-9 col-md-6 mx-auto my-5' onclick="window.location.href='{{ url_for('xplore') }}'">Xplore</button>
  		</section>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
      var bodyScore = document.querySelector('#bodyScore');
      var menuScore = document.querySelector('#menuScore');
      var bodyXplore = document.querySelector('#bodyXplore');
      var menuXplore = document.querySelector('#menuXplore');
      var highestScore = localStorage.getItem('xtraverseFlightScore') || 0;

      bodyScore.innerText = highestScore;
      menuScore.innerText = `High score: ${highestScore}`;

      document.querySelector('#tutorial-link').addEventListener('click', function(e) {
          e.preventDefault();
          $('#tutorial-modal').modal();
        });
    </script>
  </body>
</html>
