<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A fun endless runner for WebVR">
    <meta name="author" content="Xtraverse Labs">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/xtraverse-flight-icon-logo.png') }}" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<meta name=mobile-web-app-capable content=yes>
  	<meta name=application-name content="Xtraverse Flight">

	<link rel=icon sizes=128x128 href="{{ url_for('static', filename='img/xtraverse-flight-icon-logo.png') }}">

	<meta name=apple-mobile-web-app-capable content=yes>
	<meta name=apple-mobile-web-app-status-bar-style content=black>
	<meta name=apple-mobile-web-app-title content="Xtraverse Flight">
	<link rel=apple-touch-icon href="{{ url_for('static', filename='img/xtraverse-flight-icon-logo.png') }}">
	<meta name=msapplication-TileImage content='img/xtraverse-flight-icon-logo.png'>
	<meta name=msapplication-TileColor content=#00c8c8>
	<meta name=theme-color content=#00c8c8>
    <title>Welcome to Xtraverse Flight</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
    	a {
    		color: #fff;
    	}
    	video {
    	    position: fixed;
    	    top: 0;
    	    left: 0;
    	    min-width: 100%;
    	    min-height: 100%;
    	    width: auto;
    	    height: auto;
    	    z-index: -100;
    	    transform: translateX(-10%) translateY(-10%);
    	}
    	#main {
    		background: rgba(0, 100, 100, 0.7);
    		background-size: cover;
    	}
    	#body-logo {
    		background: url('{{ url_for('static', filename='img/xtraverse-flight-logo.png') }}') no-repeat;
    		background-position: center;
    		background-size: contain;
    		width: 20rem;
    		height: 10rem;
    		margin: 1rem auto;
    	}
    	button {
    		cursor: pointer;
    	}
    </style>
  </head>

  <body>

    <main role="main" class="container-fluid py-5 text-center" id='main'>
    	<div id='body-logo'></div>

		<div class="tab-content text-center bg-white col-12 col-md-6 mx-auto py-5" id="nav-tabContent">

		<!-- Login -->
		  <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
		  	<h2 class='display-3 py-2'>Login</h2>

		  	<form method="post">
                {{ form.csrf_token }}
		  		<div class='form-group'>
		  			{{ form.username.label }}
                    {{ form.username }}
                    <ul>
                        {% for error in form.username.errors %}
                             <li style="color:#7c2fff;">{{ error }}</li>
                        {% endfor %}
                    </ul>
		  		</div>
		  		<div class='form-group'>
		  			{{ form.password.label }}
		  			{{ form.password }}
                    <ul>
                        {% for error in form.password.errors %}
                             <li style="color:#7c2fff;">{{ error }}</li>
                        {% endfor %}
                    </ul>
		  		</div>
		  		<button type="submit" class='btn btn-outline-primary btn-lg'>Login</button>
                <button type="button" class='btn btn-outline-primary btn-lg' onclick="window.location.href='{{ url_for('register') }}'">Register if new</button>
		  	</form>
		  </div>
		</div>
    	<video id="bgvid" class='d-xs-none d-sm-none d-md-block' playsinline autoplay muted loop>
    		<source src="{{ url_for('static', filename='videos/bg-video.webm') }}" type="video/webm">
    	</video>
    	<p class='text-white pt-5'>Xtraverse Labs <script>document.write(new Date().getFullYear());</script> &copy;. All Rights Reserved</p>
    </main><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
