<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="A fun endless runner for WebVR">
  <meta name="author" content="Xtraverse Labs">
  <title>Xtraverse Flight</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/xtraverse-flight-icon-logo.png') }}" />
  <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
  <script src="//cdn.rawgit.com/donmccurdy/aframe-physics-system/v2.1.0/dist/aframe-physics-system.min.js"></script>
  <script src="{{ url_for('static', filename='js/aframe-gamepad-controls.js') }}"></script>
  <script src="{{ url_for('static', filename='js/zones.js') }}"></script>

  <style>
      body { background: #333 }
      .invisible { display: none }
      #loading-section {
        text-align: center;
        margin: 2rem auto;
        font-family: Courier, sans-serif;
        font-size: 1.5rem;
        color: #eee;
      }
      .spinner {
        width: 60px;
        height: 60px;
        position: relative;
        margin: 100px auto;
      }
      .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgb(255, 204, 204);
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }
      .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
      }
      @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
  </style>
</head>

<script>
  var highScore = localStorage.getItem('xtraverseFlightScore');
  var scoreTextValue = `Highest score: ${highScore}\n`;

  AFRAME.registerComponent('score', {
    schema: {
        value:   { type: 'int', default: 0, min: 0 },
        scored:   { type: 'boolean', default: false },
    },
    tick: function () {          
        this.calculateScore();
    },
    calculateScore: function () {        
        this.data.value += 1;
        if ((this.data.value > highScore) && !this.data.scored) {
          this.el.emit('scored');
          this.data.scored = true;
        }
        let textValue = `${scoreTextValue}Score: ${this.data.value}`;
        this.el.setAttribute('text', 'value', textValue);
    },
    getScore: function() {
      return this.data.value;
    }
  });

  AFRAME.registerComponent('forward', {
    tick: function () {
        this.goForward();
    },
    goForward: function () {              
      let shipPos = this.el.getAttribute('position');
      let cameraPos = document.querySelector('a-camera').getAttribute('position');
      shipPos.z -= 0.3;
      cameraPos.z -= 0.3;
      ship.setAttribute('position', shipPos);
      camera.setAttribute('position', cameraPos);
    }
  });

  AFRAME.registerComponent('controlled', {
    pause: function () {
      this.emit('paused');
    },
    enableControl: function () {     
      let containerControlAttributes = {controller: '0', lookEnabled: 'false', flyEnabled: 'true', movementEnabled:'false'};    
      container.setAttribute('gamepad-controls', containerControlAttributes);
    }
  });

  AFRAME.registerComponent('status', {
    tick: function () {
      this.el.addEventListener('paused', this.enableControl);
    },
    enableControl: function () {     
      let containerControlAttributes = {controller: '0', lookEnabled: 'false', flyEnabled: 'true', movementEnabled:'false'};
      document.querySelector('#container').setAttribute('gamepad-controls', containerControlAttributes);
    }
  });

</script>
<body>
  <div id='loading-section'>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div>
      <p>Use the arrow (or WASD) keys to dodge obstacles.</p>
      <p>Gamepads are supported.</p>
      <p>Press <code>spacebar</code> (keyboard) or <code>start</code> (gamepad) to pause.</p>
      <p>Thank you for trying us out.</p>
      <blockquote>-- Xtraverse Labs</blockquote>
    </div>
  </div>
 <a-scene fog="type: linear; color: #333; near: 0; far: 40" 
 physics-world="gravity: 0 0 0" physics="friction: 0.1; restitution: 0.5; gravity: 0">
    <a-assets>            
      <a-asset-item id="shipobj" src="{{ url_for('static', filename='models/rocket.obj') }}"></a-asset-item>
      <a-asset-item id="shipmtl" src="{{ url_for('static', filename='models/rocket.mtl') }}"></a-asset-item>
      <img id="alien-face" src="{{ url_for('static', filename='assets/alien_face_square.png') }}">
      <img id="alien-floor" src="{{ url_for('static', filename='assets/alien_floor10.png') }}">
    </a-assets>
    <a-entity id='emptyContainer' gamepad-controls="controller: 0; lookEnabled: false; flyEnabled: true; movementEnabled:false"></a-entity>

    <a-entity id='container' gamepad-controls="controller: 0; lookEnabled: false; flyEnabled: true; movementEnabled:false">
    
    <a-sky color="#333" radius="10000"></a-sky>

    <!-- Plane -->    
    <a-plane src="#alien-floor" height="30000" width="14" rotation="-90 0 0"></a-plane>

    <!-- Walls -->
    <a-plane src="#alien-floor" repeat='4' height="30000" width="30" rotation="0 90 -90" position='-15 0 -4'></a-plane>  
    <a-plane src="#alien-floor" repeat='4' height="30000" width="30" rotation="0 -90 90" position='15 0 -4'></a-plane>

    <!-- Ship -->       
     <a-entity id='xship' position='0 1 -3' obj-model="obj: #shipobj; mtl: #shipmtl" scale="0.01 0.01 0.01" shadow="receive: true" static-body>
      <a-animation attribute="rotation"
                   to="0 0 16"
                   repeat="indefinite" dur='1500' direction='alternate'></a-animation>
     </a-entity>

     <!-- Camera 1 -->
    <a-camera id='camera' position="0 0 0" look-controls="enabled: false" cursor-visible="enabled: false" wasd-controls="enabled: false; acceleration: 600; fly: true" active="false">
      <a-entity
        id='status'        
        position='-2.5 2.44 -3'
        geometry="primitive: plane; width: 4; height: auto"
        material="color: #333; opacity: 0.7"
        text='align: center'>
      </a-entity>

      <a-entity
        id='score'        
        position='2.8 2.1 -3'
        geometry="primitive: circle; width: 4; height: 1"
        material="color: #333; opacity: 0.7"
        zOffset='1000'
        text='align: center; value: 0'>
        <a-animation 
          attribute="position"
          to="2 1.5 -3"
          begin='scored'
          repeat="5" dur='100' direction='alternate'>
        </a-animation>
      </a-entity>
    </a-camera>

    <!-- Camera 2 -->
    <a-entity position="16 -5 -18.2" rotation="19.1 45.5 20">
      <a-camera>
      </a-camera>
      <a-animation attribute="position" to="0 0 0" dur="5000"></a-animation>
      <a-animation attribute="rotation" to="0 0 0" dur="5000"></a-animation>
    </a-entity>

  </a-entity>  
 </a-scene>
 <script>
   var scene = document.querySelector('a-scene');
   var ship = document.querySelector('#xship');
   var camera = document.querySelector('a-camera');
   var isPaused = true;
   var scoreText = document.querySelector('#score');   
   var statusText = document.querySelector('#status');
   var container = document.querySelector('#container');
   var emptyContainer = document.querySelector('#emptyContainer');

   setTimeout(function() {
     document.querySelector('#camera').setAttribute('camera', 'active', true);
   }, 6000);
   
   scoreText.setAttribute('text', 'value', scoreTextValue);

   scene.addEventListener('loaded', function(e) {
    document.querySelector('#loading-section').classList.add('invisible');
   });
 </script> 
 <script src="{{ url_for('static', filename='js/text.js') }}"></script>
 <script src="{{ url_for('static', filename='js/collision.js') }}"></script>
 <script src="{{ url_for('static', filename='js/controls.js') }}"></script>
 </body>
</html> 
