<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Xtraverse Labs">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<title>Xtraverse Xplore</title>		
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='xtraverse-xplore-icon-logo.png') }}" />
		<script src="{{ url_for('static', filename='js/a.js') }}"></script>		
		<script src="{{ url_for('static', filename='js/sky.js') }}"></script>
		<script src="{{ url_for('static', filename='js/aframe-gamepad-controls.js') }}"></script>

		<style>
			body {background: rgb(255, 204, 204)}
			#loading-section {
				text-align: center;
				margin: 2rem auto;
				font-family: Courier, sans-serif;
				font-size: 1.5rem;
			}
			.invisible { display: none }
			.sk-folding-cube {
			  margin: 10rem auto;
			  width: 40px;
			  height: 40px;
			  position: relative;
			  -webkit-transform: rotateZ(45deg);
			          transform: rotateZ(45deg);
			}
			.sk-folding-cube .sk-cube {
			  float: left;
			  width: 50%;
			  height: 50%;
			  position: relative;
			  -webkit-transform: scale(1.1);
			      -ms-transform: scale(1.1);
			          transform: scale(1.1); 
			}
			.sk-folding-cube .sk-cube:before {
			  content: '';
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  background-color: #333;
			  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
			          animation: sk-foldCubeAngle 2.4s infinite linear both;
			  -webkit-transform-origin: 100% 100%;
			      -ms-transform-origin: 100% 100%;
			          transform-origin: 100% 100%;
			}
			.sk-folding-cube .sk-cube2 {
			  -webkit-transform: scale(1.1) rotateZ(90deg);
			          transform: scale(1.1) rotateZ(90deg);
			}
			.sk-folding-cube .sk-cube3 {
			  -webkit-transform: scale(1.1) rotateZ(180deg);
			          transform: scale(1.1) rotateZ(180deg);
			}
			.sk-folding-cube .sk-cube4 {
			  -webkit-transform: scale(1.1) rotateZ(270deg);
			          transform: scale(1.1) rotateZ(270deg);
			}
			.sk-folding-cube .sk-cube2:before {
			  -webkit-animation-delay: 0.3s;
			          animation-delay: 0.3s;
			}
			.sk-folding-cube .sk-cube3:before {
			  -webkit-animation-delay: 0.6s;
			          animation-delay: 0.6s; 
			}
			.sk-folding-cube .sk-cube4:before {
			  -webkit-animation-delay: 0.9s;
			          animation-delay: 0.9s;
			}
			@-webkit-keyframes sk-foldCubeAngle {
			  0%, 10% {
			    -webkit-transform: perspective(140px) rotateX(-180deg);
			            transform: perspective(140px) rotateX(-180deg);
			    opacity: 0; 
			  } 25%, 75% {
			    -webkit-transform: perspective(140px) rotateX(0deg);
			            transform: perspective(140px) rotateX(0deg);
			    opacity: 1; 
			  } 90%, 100% {
			    -webkit-transform: perspective(140px) rotateY(180deg);
			            transform: perspective(140px) rotateY(180deg);
			    opacity: 0; 
			  } 
			}
			@keyframes sk-foldCubeAngle {
			  0%, 10% {
			    -webkit-transform: perspective(140px) rotateX(-180deg);
			            transform: perspective(140px) rotateX(-180deg);
			    opacity: 0; 
			  } 25%, 75% {
			    -webkit-transform: perspective(140px) rotateX(0deg);
			            transform: perspective(140px) rotateX(0deg);
			    opacity: 1; 
			  } 90%, 100% {
			    -webkit-transform: perspective(140px) rotateY(180deg);
			            transform: perspective(140px) rotateY(180deg);
			    opacity: 0; 
			  }
			}
		</style>
	</head>

	<body>
		<div id='loading-section'>
			<div class="sk-folding-cube">
			  <div class="sk-cube1 sk-cube"></div>
			  <div class="sk-cube2 sk-cube"></div>
			  <div class="sk-cube4 sk-cube"></div>
			  <div class="sk-cube3 sk-cube"></div>
			</div>
			<div>
				<p>Use the arrow (or WASD) keys to navigate.</p>
				<p>Gamepads are supported.</p>
				<p>Press <code>spacebar</code> (keyboard) or <code>R2</code> (gamepad) to switch cameras.</p>
				<p>Thank you for trying us out.</p>
				<blockquote>-- Xtraverse Labs</blockquote>
			</div>
		</div>

		<a-scene>
			<a-assets>
			   <a-asset-item id="base-obj" src="{{ url_for('static', filename='assets/base.obj') }}"></a-asset-item>
			   <a-asset-item id="base-mtl" src="{{ url_for('static', filename='assets/base.mtl') }}"></a-asset-item>
			   <a-asset-item id="ship-obj" src="{{ url_for('static', filename='assets/rocket.obj') }}"></a-asset-item>
			   <a-asset-item id="ship-mtl" src="{{ url_for('static', filename='assets/rocket.mtl') }}"></a-asset-item>
			   <img id='ground' src="{{ url_for('static', filename='img/Cubes.jpg') }}" repeat='10'>
			</a-assets>
		  <a-plane position="0 0 -9" rotation="-90 0 0" width="380" height="380" src='#ground' static-body></a-plane>
		  <a-gradient-sky material="shader: gradient; topColor: 255 255 255; bottomColor: 255 204 204;"></a-gradient-sky>
		  		  
		 <a-camera id='cam1' active='true' gamepad-controls="controller: 0; lookEnabled: true">		 	
		 </a-camera>	 
			
 		 <a-entity id='base' position='23 0 -60' obj-model="obj: #base-obj; mtl: #base-mtl" scale="0.1.9 0.1.9 0.1.9" shadow="receive: true" rotation='-90 0 0'>
 		 </a-entity>

	     <a-camera id='cam2' position='-25 40 -55' look-controls="enabled: true" cursor-visible="enabled: false" wasd-controls="enabled: false; acceleration: 600; fly: true" active='false' rotation='-30 -120 -10' gamepad-controls="controller: 0; lookEnabled: true; movementEnabled: false">
	     	<a-entity id='xship' obj-model="obj: #ship-obj; mtl: #ship-mtl" scale="0.01 0.01 0.01" shadow="receive: true" rotation='90 10 180' position='0 0 -1.3'>
	     	</a-entity>
	     </a-camera>
		</a-scene>

		<script>
			var scene = document.querySelector('a-scene');
			var cam1 = document.querySelector('#cam1');
			var cam2 = document.querySelector('#cam2');

			scene.addEventListener('gamepadbuttondown', function (e) {
			  if (e.detail.index == 6) toggleCameras(); /* R2 */
			});

			document.addEventListener('keydown', function (e) {
			  if (e.which == 32) toggleCameras(); /* space */
			});

			var toggleCameras = function() {
				var isCam1Enabled = cam1.getAttribute('active');

				if (isCam1Enabled == 'true') {
					cam1.setAttribute('active', false);
					cam2.setAttribute('active', true);
				} else {
					cam2.setAttribute('active', false);					
					cam1.setAttribute('active', true);
				}
			};

			scene.addEventListener('loaded', function(e) {
				document.querySelector('#loading-section').classList.add('invisible');
			});
		</script>
	</body>
</html>
